.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 20px;
}

.header {
  text-align: center;
  margin-bottom: 25px;
}

.profileImage {
  border-radius: 50%;
}

.headerName {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0 20px;
}